<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/MyScripts/angular-search.js"></script>
</head>
<body ng-controller="myController">
    <input type="text" placeholder="Search text" ng-model="searchText" />
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Date of birth</th>
            <th>Gender</th>
            <th>Salary</th>
        </tr>
        <tr ng-repeat="emp in employees | filter: searchText">
            <td>{{ emp.name | uppercase }}</td>
            <td>{{ emp.dob | date:"dd/MM/yyyy" }}</td>
            <td>{{ emp.gender | lowercase }}</td>
            <td>{{ emp.salary | currency:"₹" }}</td>
        </tr>
    </table>
</body>
</html>
